


/* MANCANO PARTICOLARI NELLE SECTION GIà FATTE e
  IL RESPONSIVE */
 .clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.azzurro {
    /* height: 600px; */
    background-color: rgb(0,96,255);
}

.bianco {

    /* height: 500px; */
}

.grigio {
    /* height:500px; */
    background-color: rgb(243,245,249);
}

footer {
    padding: 100px 0;
    /* height: 1000px; */
    background-color: rgb(1,14,40);
    color: white;
}

.container {
    text-align: center;

}

h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 21px;
    margin-bottom: 20px;
}

section {
    padding: 100px 0;
}

.bianco h3,
.bianco h4,
.grigio h3 {
    color: rgb(3,27,78);
}

.grigio h4 {
    color: rgb(78,95,131);
}
.bianco p {
    color: rgb(78,95,131);
}

.grigio p {
    color: rgb(75,92,129);
}

.fish {
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.world {
    background-color: rgb(3,27,78);
    background-image: url(https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar */



#logo {
    margin-right: 80px;
}

#sign_up {
    color: rgb(0,96,255);
    border: 1px solid rgb(0,96,255);
    border-radius: 5px;
    background-color: white;
    padding: 5px 5px;
}

#ri_navbar {
    background-color: white;
}

#ri_navbar a{
    color: rgb(21,43,91);
}

#ri_navbar .navbar-header button {
    border: none;
}

/* 1 Section */



.fish {
    position: relative;
}

#jumbo {
    padding-left: 0;
}
.ri_title {
    color: white;
    background: none;
    text-align: left;
}

#iscrizione {
    padding: 20px;
}

h1 {
    font-weight: bold
}

.ri_form {
 background-color: white;
 text-align: center;
}

.ri_form h3 {
    font-weight: bold;
    color: rgb(3,27,78);
}

.ri_form p {
    color: rgb(0,96,255);
    font-weight: bold;
}
.ri_form button {
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid rgb(243,245,249);
    border-right: 1px solid rgb(243,245,249);
    border-top: none;
    border-left: none;
    border-radius: 5px;
    padding: 5px 0;
    outline: none;
}

.blu-button {
    background-color: rgb(0,97,255);
    color: white;
}

.google-button{
    background-color: white;
    color: rgb(117,117,117);
}

.ri_form button img {
    width: 15px;
    height: auto;
    float: left;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.ri_form span {
    font-size: 12px;
}

.ri_form span a {
    text-decoration: underline;
}

/* 2 Section */

.ri_customers .row {
    margin: 40px 0;
}

h5 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    color: rgb(91,105,165);
}


.ri_customers img {
    margin: 0 auto;
}

.stories {
    font-size: 15px;
    font-weight: bold;
}

.ri_customers .row i {
    font-size: 10px;
}

/* 3 Section */


.ri_deploy-row {
    margin-bottom: 60px;
}


.ri_deploy .lista .row:first-child {
    margin-bottom: 20px;
}

.ri_deploy .lista {
    text-align: left;
}

.ri_deploy ul {
    list-style: none;
    margin-bottom: 40px;

}

.ri_deploy li {
    color: rgb(129,141,169);
    font-size: 15px;
    padding: 15px 5px;
    border-left: 2px solid rgb(229,232,237);
}

.ri_deploy h4 {
    font-size: 20px;
    font-weight: bold;
}

.ri_deploy .lista p {
    font-size: 15px;
}

/* 4 Section */


.ri_designed .immagine {
    margin: 60px 0 20px;
}

.ri_designed img {
    width: 100%;
    height:auto;
}

.ri_designed .immagine::after {
    content: ' \276F';
    position: absolute;
    top: 50%;
    right: -5%;
    font-size: 40px;
}

.ri_designed .immagine::before {
    content: ' \276E';
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 40px;
}


.ri_designed span {
    font-size: 15px;
}

/* 5 Section */

.ri_features {
    text-align: left;
}

.ri_features .row:first-child {
    margin-bottom: 40px;
    text-align: center;
}

.ri_features .carta{
    margin-bottom: 20px;
}

.ri_features img {
    width: 50px;
    height: auto;
}

.ri_features h4 {
    font-size: 20px;
    font-weight: bold;
}

.ri_features p {
    font-size: 15px;
}

.ri_features a {
    font-size: 15px;
}

/* 6 Section */


.ri_service h3 {
    color: white;
}

.ri_service .row p {
    color: white;
}

.ri_service h5 {
    color: white;
    float: left;
    margin: 2px auto;
    margin-right: 50px;

}

.ri_service .row .row p  {
    color: rgb(129,141,167);
    font-size: 15px;
    float: left;
    margin-bottom: 10px;
}

.ri_service .row .row a {
    font-size: 15px;
    float: right;
    color: rgb(0,215,210);
}

.barra {
    border-bottom: 1px solid white;
    margin: 0 10px 10px;
    padding: 0 10px;
}




/* 7 Section */



.ri_development h3 {
    margin-bottom: 80px;
}

#rockerbox {
    background-color: white;
    padding: 40px 10px;
}

.ri_development img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.ri_development h4 {
    font-weight: bold;
}

.ri_development span {
    display: block;
    margin-bottom: 20px;
    color: rgb(135,146,171);
}

.ri_development a {
    font-weight: bold;
}

.fa-circle {
    color: rgb(0,105,255);
}

.ri_development #rockerbox::after {
    content: ' \276F';
    position: absolute;
    top: 40%;
    right: -5%;
    font-size: 40px;
}

.ri_development #rockerbox::before {
    content: ' \276E';
    position: absolute;
    top: 40%;
    left: -5%;
    font-size: 40px;
}


/* .ri_development .fa-arrow-left {
    position: relative;
    top: 150px;
    font-size: 20px;
}

.ri_development .fa-arrow-right {
    position: relative;
    top: 150px;
    font-size: 20px;

} */




/* 8 Section */

.ri_start {
    color: white;
}

.ri_start button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

/* footer */

#copyright p {
    text-align: left;
    color: rgb(108,127,120);
    font-size: 16px;
    margin: 10px 0 0;
}

#copyright span {
    text-align: left;
    display: block;
    color: rgb(71,87,80);
    font-size: 16px;
}

.ri_footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.ri_footer li {
    color: grey;
}

#copyright ul {
    float: left;
    margin-top: 10px;
}

#copyright li {
    display: inline-block;
    font-size: 22px;
    padding-right: 15px;

}

.liste h4 {
    text-align: left;
}

.liste li {
    text-align: left;
    padding-bottom: 10px;
    font-size: 15px;
}


/* Media */

@media screen and (max-width: 767px) {

    #menu-aside {
        padding: 0;
    }

    .ri_designed .immagine::after {
        display: none;
    }

    .ri_designed .immagine::before {
        display: none;
    }

    .ri_development #rockerbox::after {
        display: none;
    }

    .ri_development #rockerbox::before {
        display: none;
    }

}



@media screen and (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .singapore  {
        border: none;
    }

}


@media screen and (min-width: 992px) {

    .ri_ultima-row .barra{
        border: none;
    }

}
